<h1><%= @category.name %></h1><br>
  <% @articles.each do |article| %>
    <%= link_to article.title, category_article_path(@category, article)  %><br>
  <% end %>
<br><%= link_to "Create New Article", new_category_article_path %>



